absl-py==0.13.0
aio-pika==6.8.1
aiofiles==0.8.0
aiohttp==3.8.1
aioredis==2.0.1
aioresponses==0.7.2
aiormq==3.3.1
aiosignal==1.3.1
anyio==3.4.0
APScheduler==3.7.0
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==23.1.0
bidict==0.21.4
blinker==1.4
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1683730530224/work
boto3==1.20.28
botocore==1.23.28
CacheControl==0.12.10
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==4.2.4
cachy==0.3.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
clang==5.0
cleo==0.8.1
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
clikit==0.6.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
colorama==0.4.4
colorclass==2.2.2
coloredlogs==15.0.1
colorhash==1.0.4
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1673633839610/work
crashtest==0.3.1
croniter==1.1.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cytoolz==0.11.2
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1653406040043/work
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.4
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1653410613560/work
dm-tree==0.1.6
docopt==0.6.2
fakeredis==1.7.0
fbmessenger==6.0.0
filelock==3.4.2
fire==0.4.0
flatbuffers==1.12
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1683740690375/work
freezegun==1.1.0
frozenlist==1.3.3
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1683494881189/work
future==0.18.2
gast==0.5.4
gitdb==4.0.9
GitPython==3.1.3
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpc-split_1670307384405/work
h11==0.9.0
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1637964045648/work
HeapDict==1.0.1
html5lib==1.1
httpcore==0.11.1
httplib2==0.20.2
httptools==0.3.0
httpx==0.15.4
humanfriendly==10.0
idna==3.4
importlib-metadata==6.6.0
isodate==0.6.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jmespath==0.10.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
jsonpickle==2.0.0
jsonschema==3.2.0
kafka-python==2.0.2
keras==2.8.0
Keras-Preprocessing==1.1.2
keyring==21.8.0
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1666805901953/work
libclang==16.0.0
locket==0.2.0
lockfile==0.12.2
lxml==4.7.1
lz4 @ file:///Users/runner/miniforge3/conda-bld/lz4_1675806786685/work
Markdown==3.4.3
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1674135926863/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1639359043885/work
mattermostwrapper==2.2
mock==4.0.3
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1678312908206/work
multidict==5.0.0
munkres==1.1.4
mypy-extensions==0.4.3
networkx==2.6.3
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1649806371887/work
oauth2client==4.1.3
oauthlib==3.2.2
onelogin==2.0.2
opt-einsum==3.3.0
packaging==20.9
pamqp==2.3.0
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1683494070740/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1681246756246/work
pastel==0.2.1
pexpect==4.8.0
pika==1.2.0
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1680694466475/work
pkgconfig==1.5.5
pkginfo==1.8.2
platformdirs==2.4.1
poetry==1.1.12
poetry-core==1.0.7
prompt-toolkit==2.0.10
protobuf==3.19.1
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1681775391262/work
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pydot==1.4.2
PyJWT==2.1.0
pykwalify==1.8.0
pylev==1.4.0
pymongo==3.10.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyrsistent==0.18.0
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pyTelegramBotAPI==3.8.3
python-crfsuite==0.9.7
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-engineio==4.3.1
python-socketio==5.5.2
python3-saml==1.12.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1666772466414/work
questionary==1.10.0
randomname==0.1.5
rasa @ git+https://github.com/RasaHQ/rasa.git@3eb962be78616bab005fb78f151ab8b2e77d7221
rasa-sdk @ git+https://github.com/RasaHQ/rasa-sdk@014c772a20956a837ad2697e6ba6d527343deeff
redis==3.5.3
regex==2021.8.28
requests==2.26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rocketchat-API==1.16.0
rsa==4.9
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
s3transfer==0.5.0
sanic==21.12.1
Sanic-Cors==2.0.1
sanic-jwt==1.7.0
sanic-routing==0.7.2
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1652976950430/work
SciPy @ file:///Users/runner/miniforge3/conda-bld/scipy_1667960661844/work
sentry-sdk==1.3.1
shellingham==1.4.0
simple-image-download==0.2
six==1.15.0
sklearn-crfsuite==0.3.6
slackclient==2.9.3
smmap==5.0.0
sniffio==1.2.0
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
SQLAlchemy==1.4.29
tabulate==0.8.9
tarsafe==0.0.3
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.8.0
tensorflow-hub==0.12.0
tensorflow-macos==2.8.0
tensorflow-metal==0.5.0
tensorflow-probability==0.13.0
termcolor==1.1.0
terminaltables==3.1.10
tf-estimator-nightly==2.8.0.dev2021122109
tfa-nightly==0.16.0.dev20220103155136
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tomlkit==0.8.0
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1648827299372/work
tqdm==4.62.3
twilio==6.50.1
typeguard==2.13.3
typing-utils==0.1.0
typing_extensions==4.5.0
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
tzlocal==2.1
ujson==4.3.0
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1667239959992/work
urllib3==1.26.15
uvloop==0.14.0
virtualenv==20.13.0
wcwidth==0.2.5
webencodings==0.5.1
webexteamssdk==1.6
websockets==10.3
Werkzeug==2.3.4
wrapt==1.15.0
xmlsec==1.3.13
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1676835466992/work
yarl==1.9.2
zict==2.0.0
zipp==3.15.0
